/*Contenedor*/
body {
    margin:auto;
    max-width: 1200px;
    background-color:white;
}
/*Header*/
header {
  background-color: antiquewhite;
  border: solid 10px black;
}
    .subheader {
        display: flex;
        justify-content: space-evenly;
        background-color: #2d4059;
        border: solid 4px black;
        padding: 10px;
    }
        .subheader-1 {
            width: 23%;
            height: 20px;
            background-color: #ea5455;
        }
        .subheader-2 {
             width: 50%;
            background-color: #ea5455;
        }
    .subheader2 {
        display: flex;
        justify-content: center;
        background-color: #f07b3f;
        border: solid 4px black;
        padding: 12px;
    }
        .subheader2-1 {
            height: 20px;
            background-color: #fed460;
            width: 99%;
        }
       
/*Main*/
main{
    margin-top:10px;
    background-color: antiquewhite;
    border: solid 10px black;
    display: flex;
    justify-content: space-evenly;
}

    .main1{
        background-color: #4E4E6A;
        border-right: solid black 10px;
        padding: 10px;
        flex-grow:2;
        gap:5px;
    }
            .submain1{
                display:flex;
                justify-content:space-evenly;
                margin-top:10px;
               
            }
            .submain1 div{
                 width:45%;
                 background-color: #1F6CB0;
                 padding:10px;
                 border:solid black 1px;
            }
            .submain1-2{
                margin:auto;
                margin-top:10px;
                width:95%;
                background-color: #70A3C4;padding:10px;
                border:solid black 1px;
            }
    .main2{
       flex-grow:1;
       background-color: #F73F52;
       padding:10px;
       margin:none;
       
    }
        .main2 div{
            margin:auto;
            width:90%;
            margin-top:10px;
            padding:10px;
            background-color: #FEEA85;
        }
footer {
    margin-top:10px;
    border:solid black 10px;
}
    footer div{
        background-color:#E6AF2E; padding:10px;
    }
/*Media Queries*/
@media (max-width:700px) {

    .subheader{
        gap:5px;
    }
    .subheader-1 {
      width:22%;
    }
    main{
        display:flex;
        flex-direction: column;
        border: solid 10px #FEFF03;
    }
    .main1{
        background-color:#4E4E6A;
        border:none;
        
    }
    .submain1 div{
        width:45%;
       
    }
    .main2{
        background-color:#F73F52;
    }
    .main2 div{
        margin-left:4px;
        width:95%;
    }
    

}